<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Kepler-Std-Display.otf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record voice notes for night wake logs</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
